RewriteEngine On

# 1. If someone types 'page.html', redirect them to 'page' (Clean URL)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.+)\.html[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

# 2. If someone types 'page', internally show them 'page.html'
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]